<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SearchEngine.Properties.Settings>
            <setting name="sourceFilesPath" serializeAs="String">
                <value>D:\SearchEngineFiles\corpus</value>
            </setting>
            <setting name="postingFiles" serializeAs="String">
                <value>D:\SearchEngineFiles\Posting</value>
            </setting>
            <setting name="stopWordFilePath" serializeAs="String">
                <value>D:\SearchEngineFiles\corpus</value>
            </setting>
            <setting name="stemmer" serializeAs="String">
                <value>False</value>
            </setting>
        </SearchEngine.Properties.Settings>
    </userSettings>
</configuration>